.margins-padding{
  border:10px dotted black;
  margin: 50px 50px 50px 50px;
  padding: 20px 20px 20px 40px;
}
#margin-demo {
	width: 400px;

}

#margin-experiment{
  height: 40px;
  background: #ff69b4;
	border: 15px dotted black;
/*	margin-top: 50px;
	margin-right: 250px;
	margin-bottom: 200px;
	margin-left: 200px;
*/
	margin: 50px 50px 50px 50px;
	padding: 20px 20px 20px 20px

}

#margin-experiment2{
  height: 40px;
  background: #ff69b4;
	border: 15px dotted black;
/*	margin-top: 50px;
	margin-right: 250px;
	margin-bottom: 200px;
	margin-left: 200px;
*/
	margin: 50px 50px 50px 50px;
  padding: 20px 20px 20px 20px;
  
}


#padding-experiment{
	border: 2px dotted black;
	margin: 50px 250px 100px 100px;
/*
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
*/
	padding: 20px 520px 20px 20px;
}

body{
	background-color: #ff69b4;
}
